#fullscreen-hero {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-color: #000000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#fullscreen-hero:after,
#fullscreen-hero:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-hero {
  position: relative;
  background-image: none;
}
@media screen and (min-width: 0px) {
  .home-hero {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/hero-bg.png");
  }
}

.home-hero:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.hero-container {
  display: table;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}
@media screen and (min-width: 550px) {
  .hero-container {
    padding: 0 40px;
  }
}

.hero-content {
  display: table-cell;
  position: relative;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
}

.hero-content h1 {
  font-size: 2.3rem;
  color: #fff;
  margin-bottom: 0;
}
@media screen and (min-width: 750px) {
  .hero-content h1 {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1000px) {
  .hero-content h1 {
    font-size: 5.7rem;
  }
}

.hero-content a.button-ghost {
  margin: 3.6rem 0 0;
  padding: 1.0rem 2.6rem;
  font-size: 1.1rem;
  border: 2px solid #005fa3;
}

.hero-content a.button-ghost:hover {
  padding: 1.0rem 3.4rem;
}
@media screen and (min-width: 550px) {
  .hero-content a.button-ghost {
    margin: 6.0rem 0 0;
    padding: 1.4rem 3.2rem;
    font-size: 1.4rem;
    border: 2px solid #005fa3;
  }

  .hero-content a.button-ghost:hover {
    padding: 1.4rem 4.0rem;
  }
}

.home-logo img {
  top: 2.5%;
  display: inline-block;
  left: 50%;
  width: 50px;
  height: auto;
  padding: 20px;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
  text-decoration: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (min-width: 750px) {
  .home-logo img {
    width: 65px;
  }
}
@media screen and (min-width: 1000px) {
  .home-logo img {
    width: 80px;
  }
}

.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
  background-color: #93a4aa;
}

.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
  color: #2A3A3F;
}

.cd-headline.type b {
  visibility: hidden;
}

.cd-headline.type b.is-visible {
  visibility: visible;
  font-style: normal;
}

.cd-headline.type i {
  position: absolute;
  visibility: hidden;
  font-style: normal;
}

.cd-headline.type i.in {
  position: relative;
  visibility: visible;
  font-style: normal;
}

.button-ghost,
input.button-ghost {
  color: #fff;
  border: 2px solid #005fa3;
  margin: 2.4rem 0 0;
  background-color: transparent;
  padding: 1.4rem 3.2rem;
  font-size: 1.4rem;
}

.button-ghost:hover,
input.button-ghost:hover {
  color: #fff;
  background-color: #005fa3;
  border: 2px solid #fff;
  padding: 1.4rem 4.2rem;
}

.learn-more {
  bottom: 2.5%;
  display: inline-block;
  font-size: 1.3rem;
  left: 50%;
  padding: 20px;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
  text-decoration: none;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (min-width: 750px) {
  .learn-more {
    font-size: 1.7rem;
  }
}

.learn-more a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border-bottom: none;
}

.learn-more a:hover {
  color: rgba(255, 255, 255, 0.9);
}
